<section>
    <h2 class="page-title" data-bind="text: title"></h2>

    <ul>
        <li>
            Example of validation using the MetaData JayData brings down, as well as the ko observable checking validation on observable change<br />
            <i>
                *Notice the automatic validation if you try to edit the "Is Synchronized"" column from anything other than true or false
            </i>
        </li>
        <li>
            Example of using the built-in JayData adapters for local database storage, using IndexedDB, Web Sql, or localstorage
        </li>
    </ul>
        
    

    <form class="column vform" id="addTaskForm" data-bind="submit: submitForm ">
        <fieldset>
            <legend>Add Todo</legend>
            <input data-bind="value: taskInput" id="taskInput" />
            <input type="submit" value="Add item" />
        </fieldset>
    </form>
    <div class="column" style="float:left">
        <h3>Local Task List <button class="btn-success" data-bind="click: synchronizeData">Manual Synchronize</button></h3>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Is Synchronized</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: localTodos">
                <tr>
                    <td><input data-bind="value:Task" /></td>
                    <td><input data-bind="value: InSync" /></td>
                </tr>
            </tbody>
        </table>

    </div>
    <div style="float:left; margin-right:40px"> &nbsp;</div>
    <div class="column" style="float:left">
        <h3>Remote Task List</h3>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Is Synchronized</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: remoteTodos">
                <tr>
                    <td data-bind="text:Task"></td>
                    <td data-bind="text: InSync"></td>

                </tr>
            </tbody>
        </table>


    </div>
   <div style="clear:both"></div>

</section>