<div class="navbar navbar-fixed-top top-bar">
    <div class="navbar-inner">
        <div class="container">

            <ul class="nav pull-left" id="open-icon-header">
                <li>
                    <a href="#menu">
                        <i class="icon icon-th-list icon-3x"></i>
                    </a>
                </li>
            </ul>

            <!-- Be sure to leave the brand out there if you want it shown -->

            <a class="brand" href="#">SpaStack.NET</a>


            <a data-bind="visible: !shell.userName() " href="/login">
                <span>Login</span>
            </a>

            <span class="pull-right" data-bind="visible: shell.userName()">
                Hello
                <a>
                    <span data-bind="text: shell.userName()"></span>
                </a> |


                <a data-bind="click: shell.logout()" style="padding-right:100px">
                    <span>Logout</span>
                </a>
            </span>



            <!-- Everything you want hidden at 940px or less, place within here -->
            <div class="nav-collapse collapse">
                <!-- .nav, .navbar-search, .navbar-form, etc -->
            </div>

        </div>
    </div>
    <div class="loader pull-right" data-bind="css: { active: router.isNavigating }">
        <div class="progress progress-striped active page-progress-bar">
            <div class="bar" style="width: 150px;"></div>
        </div>
    </div>
</div>