<div class="navbar navbar-fixed-top top-bar">
    <div class="navbar-inner">
        <div class="container">
 
            <ul class="nav pull-left" id="open-icon-header">
                <li>
                    <a href="#menu">
                        <i class="icon icon-th-list icon-3x" ></i>
                    </a>
                </li>
            </ul>
 
            <!-- Be sure to leave the brand out there if you want it shown -->
        
            <a class="brand" href="#">Hot Towel Mobile</a>
  
            <!-- Everything you want hidden at 940px or less, place within here -->
            <div class="nav-collapse collapse">
            <!-- .nav, .navbar-search, .navbar-form, etc -->
            </div>

        </div>
    </div>
</div>